:root {
  --pink: #cd9494;
  --pink1: #e1b4b4;
  --pink2: #e6c9c9;
  --pink3: #f2e3e3;
  --black: #000000;
  --white: #ffffff;
}

/* Navbar Start */
.navbar.navbar-light.navbar-container {
  background-color: var(--pink1) !important;
  border-bottom: 2px solid var(--pink);
}
.navbar-container .nav-item-box ul li a {
  color: var(--white);
}
/* Navbar End */
/* Blogs Start */
.blogs-container {
  margin-top: 20px;
  padding: 30px;
}
.blogs-container .blog-box .blog-box-row {
  display: flex;
  align-items: center;
}
.blogs-container .blog-img-box img {
  width: 100%;
  border: 14px solid var(--pink1);
}
.blogs-container .blog-content-box {
  width: 100%;
  padding: 50px;
}
.blogs-container .blog-content-box .blog-btn-box button {
  background-color: var(--pink2);
  color: var(--white);
  border: none;
  padding: 5px 20px;
}
/* Blogs End */
/* About us Start */
.about-us-container {
  background-color: var(--pink2);
  padding: 30px;
}
.about-us-container .about-img-parent-box {
  display: flex;
  justify-content: center;
}
.about-us-container .about-us-box .about-img-box {
  width: 240px;
  height: 240px;
}
.about-us-container .about-us-box .about-img-box img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.about-us-container .about-us-box .about-content-parent-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-container .about-content-parent-box h3,
.about-us-container .about-content-parent-box p {
  color: var(--white);
}
.about-us-container .about-content-box .about-btn-box button {
  background-color: var(--pink3);
  color: var(--black);
  border: none;
  padding: 5px 30px;
}
/* About us End */
/* Footer Start */
.footer-container .footer-box {
  position: relative;
}
.footer-container .footer-upper-box .footer-title h6 {
  text-align: center;
  color: var(--white);
}
.footer-container .footer-upper-box {
  height: 130px;
  background-color: var(--pink1);
}
.footer-container .footer-lower-box {
  height: 130px;
  background-color: var(--white);
}
.footer-container .footer-img-container {
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 0px;
}
.footer-container .footer-img-container .footer-img-box {
  margin-right: 10px;
  width: 130px;
  height: 130px;
}
.footer-container .footer-img-container .footer-img-box img {
  width: 100%;
  height: 100%;
}
.footer-container .footer-img-container .footer-img-box:nth-of-type(5) {
  margin-right: 0px;
}
.footer-container .footer-img-container .footer-img-box:nth-of-type(1),
.footer-container .footer-img-container .footer-img-box:nth-of-type(5) {
  margin-top: 33px;
}
.footer-container .footer-img-container .footer-img-box:nth-of-type(2),
.footer-container .footer-img-container .footer-img-box:nth-of-type(4) {
  margin-top: 66px;
}
.footer-container .footer-img-container .footer-img-box:nth-of-type(3) {
  margin-top: 100px;
}

/* Footer End */

/* Profile Start */
.profile-container .profile-head-box {
  background-color: var(--pink2);
  padding-bottom: 60px;
  position: relative;
  justify-content: center;
  display: grid;
  margin-bottom: 60px;
}
.profile-container .profile-head-box .profile-title {
  text-align: center;
  color: var(--white);
}
.profile-container .profile-head-box .profile-img-box {
  width: 120px;
  height: 120px;
  position: absolute;
  margin: 0 auto;
  left: 0px;
  right: 0;
  top: 40px;
}
.profile-container .profile-head-box .profile-img-box img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid var(--white);
}
.profile-container .profile-btn-box {
  text-align: center;
}
.profile-container .profile-btn-box button {
  background-color: var(--pink2);
  color: var(--black);
  border: none;
  padding: 5px 10px;
}
.profile-container .profile-posts-container .col-md-3 {
  padding: 6px;
}
.profile-container .profile-posts-container {
  padding: 0px 30px;
  margin-top: 30px;
}
.profile-container .profile-posts-container .post-box img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--white);
}
/* Profile End */
/* Add New Post Start */
.add-posts-container .add-posts-head-box {
  background-color: var(--pink2);
  padding-bottom: 40px;
  justify-content: center;
  display: grid;
  margin-bottom: 60px;
}
.add-posts-container .add-posts-head-box .add-posts-title {
  text-align: center;
  color: var(--white);
}
.add-posts-container .add-posts-form-box {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--pink3);
}
.add-posts-container .add-posts-form-box .input-box {
  display: flex;
  margin-bottom: 30px;
}
.add-posts-container .add-posts-form-box .input-box label {
  width: 14%;
}
.add-posts-container .add-posts-form-box .input-box input,
.add-posts-container .add-posts-form-box .input-box textarea {
  width: 86%;
}

.add-posts-container .add-posts-form-box .submit-btn-box button {
  background-color: var(--white);
  color: var(--black);
  border: none;
  padding: 5px 30px;
}
.add-posts-container .add-posts-form-box .preview-upload-posts {
  width: 100%;
  height: 120px;
  border: 1px solid;
  margin-bottom: 30px;
  display: flex;
}
.add-posts-container
  .add-posts-form-box
  .preview-upload-posts
  .preview-img-box {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 4px;
}
.add-posts-container
  .add-posts-form-box
  .preview-upload-posts
  .preview-img-box
  img {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.add-posts-container .preview-upload-posts .preview-img-box img:hover {
  opacity: 0.4;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.add-posts-container
  .preview-upload-posts
  .preview-img-box:hover
  .remove-img-icon {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.add-posts-container .preview-upload-posts .preview-img-box .remove-img-icon {
  display: none;
}
/* Add New Post End */
